<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
            const username = document.cookie.split('; ').find(row => row.startsWith('username='));
            const password = document.cookie.split('; ').find(row => row.startsWith('password='));
        if (!(username&&password)) {
      //if they are set, redirect to the dashboard
      window.location.href = '/login';
    }
    </script>
</body>
</html>